{% extends 'layout.twig.html' %}
{% block title %}Gestion::Liste{% endblock %}
{% block body %}
<h1>Infos Article</h1>
<div>
    
      {{ article.libelle }} {{ article.qte }} {{ article.pu }}


</div>
{% endblock %}